*{
padding: 0;
box-sizing: content-box;
}

html, body{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

ol {
    list-style-type: upper-alpha;
    padding-left: 30px;
}
.quiz {
    border-radius: 5px;
    padding: 10px;
}
